<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="cn.edu.nju.software.ui" android:versionCode="1"
	android:versionName="1.0">
	
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".MainActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".AuthorizeActivity"
			android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="founderapp" android:host="AuthorizeActivity" />
			</intent-filter>
		</activity>
		<activity android:name=".HomeActivity">
		</activity>
		<activity android:name=".ShareActivity" android:label="@string/app_name"
			android:configChanges="keyboardHidden|orientation"
			android:screenOrientation="portrait" android:theme="@style/test"
			android:launchMode="singleTask">
		</activity>
	</application>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_APN_SETTINGS"></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
</manifest> 